@charset "utf-8";
/* CSS Document */
body{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	background:red;
}
.header-active{
	background-color: rgba(0,14,27,1);
}
main{
	background-color:white;
	width:90%;
	margin-left:10%;
	margin-right:10%;
}