* {
    box-sizing: border-box;
}

h1, h2, h3, h4, small {
    font-family: montserrat;
}
.h1, .h2, .h3, .h4, .small{
	font-family:montserrat;
	font-weight:bolder;
	display:block;
}
.h1{font-size:2em;}
.h2{font-size:1.5em;}
.h3{font-size:1.17em;}
.h4{font-size:1em;}

hr {
    border-top-color: rgba(0,0,0,0.2);
    border-top: thin;
}

.center {
    text-align: center;
}
span.center{
	display:block;
}

body {
    font-family: Quicksand, sans-serif;
    margin: 0;
    background-color: aliceblue;
    color:#000000;
	overflow-x:hidden;
	position:relative;
}

.header {
    background-color:rgba(255,255,255,1);
    box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 105px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    color:rgb(0,14,27);
    z-index: 900;
    transition: background-color 0.3s, box-shadow 0.3s, height 0.3s, width 0.3s;
}

.header-active {
    transition: background-color 0.3s, box-shadow 0.3s, height 0.3s, width 0.3s;
    background-color: rgba(0,14,27,0.8);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    color: white;
    box-shadow: none;
    height: 85px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.header-min {
    background-color: rgba(0,14,27,1);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 85px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 900;
    transition: background-color 0.3s, box-shadow 0.3s, height 0.3s, width 0.3s;
}
    .header-min.header-active {
        background-color: rgba(0,14,27,0.8);
    }
.header-content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

    .header-content:after {
        content: "";
        display: table;
        clear: both;
    }

.title-area {
    width: 33%;
    float: left;
}

.nav-area {
    width: 66%;
    float: left;
    text-align: right;
}

    .nav-area ul {
        list-style-type: none;
        padding: 0;
    }

        .nav-area ul li {
            display: inline-flex;
            padding-left: 20px;
            font-size: 1.25em;
            font-family: montserrat;
        }

            .nav-area ul li a {
                color: inherit;
                text-decoration: none;
            }

                .nav-area ul li a:hover {
                    opacity: 0.5;
                }

.title {
    font-family: Montserrat;
}
.site-logo {
    height: 4em;
    max-width:33%;
    object-fit: contain;
    object-position: left;
    width: auto;
    transition: height 0.1s;
}

.header-active .site-logo {
    height: 3em;
    object-fit: contain;
    object-position: left;
    width: auto;
}

/*****/
.accordion {
    background-color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    font-size: 15px;
    border-bottom: thin solid;
    border-bottom-color: rgba(0,0,0,0.2);
    color:inherit;
}

    .accordion h2 {
        margin: 0;
    }

    .active, .accordion:hover {
        background-color: whitesmoke;
        border-bottom: none;
        transition:background-color 0.3s;
    }

.panel {
    padding: 0 18px;
    display: none;
    transition: 0.3s;
    background-color: white;
    overflow: hidden;
    padding-bottom:55px;
    color:inherit;
}

.accordion:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.accordion.inner {
    border-bottom: none;
}

    .accordion.inner.active {
        background-color: transparent;
        border-bottom: thin solid;
        border-bottom-color: rgba(0,0,0,0.2);
    }

    .accordion.inner:hover {
        opacity: 0.5;
        background-color: transparent;
    }
/*****/
.initial {
    margin-top: 105px;
}
.initial-min{
    margin-top:85px;
}
.hero {
    min-height: 60vh;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;
}
.hero-overlay{
    min-height:60vh;
    background-color:rgba(0,0,0,0);
}
.hero-overlay.b{
    min-height:60vh;
    background-color:rgba(0,0,0,0.5);
}

.hero-overlay.w {
    min-height: 60vh;
    background-color: rgba(255, 255, 255, 0.6);
}
.has-content{
	min-height:80vh;
}
.hero-overlay.has-content{
	min-height:80vh;
}

.hero-content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15vh;
    padding-bottom: 15vh;
}

.big-text {
    font-size: 4em;
}

.fixed-bg {
    background-attachment: fixed;
}

.blur {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.content-top {
    background: white;
    height:55px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin: 0 auto !important;
    border-top:thin solid;
    border-right:thin solid;
    border-left:thin solid;
    border-color:rgba(0,0,0,0.1);
}
.content-top.has-profile-image{
	height:125px;
}
.content-top-container {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

main.content {
    width: 90%;
    color: rgb(0,14,27);
    background: white;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0.01%;
    padding-bottom: 125px;
    position: relative;
    margin: 0 auto !important;
    overflow-x: hidden;
    border-bottom: thin solid;
    border-left: thin solid;
    border-right: thin solid;
    border-color: rgba(0,0,0,0.1);
}
/*Multi Column Layout*/
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.column-half {
    width: 50%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    float: left;
}
/*MISC*/
.profile-image-main {
    width: 250px;
    height: 250px;
    object-fit: contain;
    border-radius: 50%;
    margin-top: -125px;
}

.profile-image-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 9px;
}
/*footer*/
.footer {
    background-color: rgba(0,14,27,1);
    color:white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    min-height: 105px;
    margin-top: 105px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
}
.footer-content {
   display:block;
   -webkit-align-items:unset;
   -ms-flex-align:unset;
   -webkit-box-align:unset;
   flex-direction:unset;
}
.footer-logo{
    height:4em;
    display:block;
}
@media only screen and (max-width: 799px) {
    body{
    }
    .row {
        display: unset;
    }

    .column-half {
        float: none;
        width: 100%;
    }

    main.content {
        width: 100%;
        margin-bottom:0;
    }

    .content-top {
        width: 100%;
    }
    .footer{
        margin-top:0;
    }
}
@media only screen and (max-height: 569px) {
    .profile-image-main {
        width: 150px;
        height: 150px;
        margin-top: -75px;
    }
    .content-top.has-profile-image{
        height:75px;
    }
}
@media only screen and (max-width: 499px) {
    .big-text {
        font-size: 3em;
    }
}
@media only screen and (max-height: 440px) {
    .hero {
        min-height: 80vh;
    }

    .hero-overlay {
        min-height: 80vh;
    }

        .hero-overlay.w {
            min-height: 80vh;
        }

        .hero-overlay.b {
            min-height: 80vh;
        }
}
