.elementor-359 .elementor-element.elementor-element-840ebbc {text-align: center;}
.elementor-359 .elementor-element.elementor-element-abd27f5 .elementor-spacer-inner {height: 50px;}
.elementor-359 .elementor-element.elementor-element-cf26643 .elementor-image img {opacity: 1;border-radius: 300px 300px 300px 300px;}