/*Fonts*/
@font-face { /*Lato Family*/ /*Sans-Serif*/
font-family:'Lato';
src:url(../fonts/Lato-Regular.woff);
}
@font-face { /*Lato Family*/ /*Sans-Serif*/
font-family: 'Lato Bold';
src:url(../fonts/Lato-Bold.woff);
}
@font-face { /*Apple Garamond Font*//*Serif*/
font-family:AppleGaramond;
src:url(../fonts/AppleGaramond.woff);
}
@font-face { /*Display Font*/
font-family:Helvetica Now Display; /*Find this font at https://monotype.com*//*Helvetica Now Display*/
src:url(../fonts/Helvetica-Now-Display.woff);
}
/* Scroll Bar Style*/
::-webkit-scrollbar {
}
html {
scroll-behavior:smooth;/*Smooth Scrolling for top button in Chrome */
}
/*Page Body*/
body {
width:90%; /*Page Width; set to 100 for full width*/
/*Page Margins*/
margin-left:auto;
margin-right:auto;
margin-top: 0;
margin-bottom:0;
background-color:white; /*Background Color*/
background-image:url(../files/bg/);/*Background Image*/
}
/*Page Content*/
.page-content {
padding:30px;/*Padding*/
background-color:white;/*Background Color*/
}
/*Top of page*/
/*Navigation Bar*/
/*Sticky Header*/
#header {
    background-color: rgba(255,255,255,1); /*Background Color*/
    line-height: 200%;
    color: blue; /*Font Color*/
    /*Sticky nav*/
    position: sticky; /*Fixed to top*/
    position: -webkit-sticky;
    top: -3px;
    text-align: center; /*Text Alignment*/
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
/*Static Header*/
#header-static {
background-color: white; /*Background Color*/
line-height: 200%;
color: blue; /*Font Color*/
text-align: center; /*Text Alignment*/
z-index: 1;
margin-left: auto;
margin-right: auto;
padding: 10px;
}
.site-logo img {
width:60px;
height:60px;
}
/*Sticky Menu*/
.sticky-menu {
position:sticky; /*Fixed Position*/
position:-webkit-sticky;
top:120px;
color:blue; /*Font Color*/
font-family:Lato;/*Font*/
font-weight:normal;/*Font Weight*/
line-height:200%;
padding:5px;
float:right;
width:200px;
overflow-x:hidden;
text-align:left;
margin-top:50px;
}
.sticky-menu a { /*Menu items on sticky menu*/
color:blue; /*Font Color*/
font-family:'Lato';
text-align:left; /*Text Alignment*/
text-decoration:none; /*No Underline*/
font-weight:bold;
transition:.2s; /*Fade transition*/
line-height:90%;
}
.sticky-menu a:hover{
color:grey; /*Font Color*/
transition:.2s; /*Fade Transition*/
}
.sticky-menu a img:hover {
}
.sticky-menu hr{
border-style:solid;
border-color:lightgrey;
opacity:.4;
}
.sticky { /*Sticky Elements*/
position:sticky;
position:-webkit-sticky;
top:0;
}
/*Displays on top of Content Div*/
.top-bar {
background-color:rgba(255,255,255,1);/*Background Color*/
text-align: center;
position: -webkit-sticky;
position: sticky;
top: 0;
line-height: 250%;
padding:2px;
}
/*Displays on Bosttom of Content Div*/
.bottom-bar {
background-color: rgba(255,255,255,.7);/*Background Color*/
text-align: center;
position: -webkit-sticky;
position: sticky;
bottom: 0;
line-height: 250%;
padding: 2px;
}
/*Mobile Menu*/
.mobilemenu {
display:none;
}
/*Page Content*/
.content {
    background-color: white; /*Background Color*/
    float: left; /*Align to Left side of page*/
    margin-right: 240px;
    margin-left: 50px;
    margin-top: -90px;
    padding: 25px;
    padding-top: 0;
    margin-bottom: 50px;
display: inline;
}
.content h1{
font-family:'Helvetica Now Display';/*Font Family*/
text-transform:uppercase; /*All caps*/
margin-top:50px;
font-size:3em;
}
.content p {
font-family:lato;
font-size:1em;
}
.content p strong {
font-family:'Lato Bold';
}
.link{
font-family:'Lato Bold';
color:blue;
text-decoration:none;
cursor:pointer;
}
/*Content Links*/
.content a{
text-decoration:none;
color:blue;
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
}
/*Side Nav Buttons*/
#sidenav {
font-size: 30px;
cursor: pointer;
position:absolute;
left:0;
transition:.2s;
padding:20px;
top:15px;
}
#sidenav:hover {
-webkit-transform:rotate(90deg); /*Rotate Icon on Hover*/
transform:rotate(90deg);
}
.close-button { /*Menu Sheet Close Button*/
text-decoration: none;
color: black; /*Color*/
font-size: 30pt; /*Font Size*/
font-family: Arial, Helvetica, sans-serif;
transition: .2s;
position:absolute;
right: 20px;
padding:20px;
}
.close-button:hover {
color: red; /*Font color on hover*/
transition: .2s; /*Fade Transition*/
-webkit-transform: rotate(45deg); /*Rotate Icon on Hover*/
transform: rotate(45deg);
}
#header-static #sidenav {
margin-left:5%;
}
/*Side Navbar*/
.side-nav {
background-color: rgba(255,255,255,1); /*Background Color*/
height: 100%; /*Full height*/
position: fixed;/*Fixed position*/
z-index: 1;
top: -10px;
left: -1px;
padding-top: 60px;
width: 0px;
overflow-x: hidden; /*Do not display horizontal Overflow*/
overflow-y:scroll; /*Scroll if content overflows vertically*/
margin-top: -10px;
}
.side-nav menu {
text-align: center;
width:60%;
margin-left:auto;
margin-right:auto;
padding:30px;
}
.side-nav menu a {
text-align: center;
display: block;
margin-top: 20px;
padding-left: 15px;
padding-right: 15px;
color: black;
font-weight: bold;
text-decoration: none;
font-size: 30px;
transition: .2s;
font-family:Lato Bold; /*Font Family*/
}
.side-nav menu a:hover {
color:blue;
transition:.2s;
}
.side-nav menu p {
font-family:'Helvetica Now Display';
text-transform:uppercase;
}
.menu-image { /*Image shown in site menu*/
width: 90%;
margin-top: 10%;
margin-bottom:10%;
box-shadow: 0px 3px 15px rgba(0,0,0,0.2); /*Sshadow Effect*/
}
/*Back to top*/
#top-button {
bottom: 20px;
z-index:1;
font-size:20px;
border: none;
color: blue; /*Font Color*/
cursor: pointer;
font-weight:bold;
background-color:transparent; /*Background Color*/
transition:.2s;
display:inline;
}
#top-button:hover {
padding: 10px;
background-color: white; /*Button Background*/
box-shadow: 0px 3px 15px rgba(0,0,0,0.2);/*Box Shadow*/
}
/*Site Title*/
.site-title {
text-decoration:none;
color:blue;/*Font Color*/
font-family:Helvetica;/*Font*/
text-transform:none; /*all Caps*/
letter-spacing:normal;
}
/*Hero Image/Featured Content*/
.hero {
height: 100vh; /*Full Height*/
background-attachment: fixed; /*"Parallax" Effect*/
background-size: cover; /*Background fills the whole element*/
background-repeat: no-repeat;
margin-left: auto;
margin-right: auto;
}
.hero h1 {
font-family:'Helvetica Now Display';/*Font Family*/
text-transform:uppercase; /*All Caps*/
}
/*Homepage Parallax*/
#slider {
background-repeat: no-repeat;
background-size: cover;
width: 98%;
margin-left: auto;
margin-right: auto;
}
/*Parallax Page Heading*/
.page-heading {
min-height: 50vh; /*Half Height*/
background-attachment: fixed; /*"Parallax" Effect*/
background-size: cover; /*Background fills the whole element*/
background-repeat: no-repeat;
margin-left: auto;
margin-right: auto;
width: 100%;
}
.page-heading h1 {
font-family:'Helvetica Now Display';/*Font*/
text-transform:uppercase;/*All caps*/
}
/*Hero Content*/
.hero-content {
width:90%;
padding:100px;
text-align:left;
margin-left:auto;
margin-right:auto;
color:white;
}
.big-text {
font-size: 5em;
letter-spacing: -4px;
font-family:Arial, Helvetica, sans-serif;
}
.hero-content p{
font-family:AppleGaramond;
font-size:1.5em;
}
/*Footer*/
footer{
padding:20px;
font-family:Lato; /*Font*/
color:blue; /*Font Color*/
}
footer a {
color:black; /*Font Color*/
text-decoration:none;
}
.copy {
font-family:'Lato Bold'; /*Bold Font*/
}
/*Site Alerts*/
/* The alert message box */
.alert {
    padding: 20px;
    background-color: #F97272; /* Red */
    color: white;
    margin-bottom: 15px;
    opacity: 1;
    transition: opacity 0.6s;
    text-align:center;
    font-family:Lato;
}
/* The close button */
.close-alert {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    position:absolute;
    right:10px;
    display:inline;
}
    /* When moving the mouse over the close button */
    .close-alert:hover {
        color: black;
    }
  .alert p{
   display:inline;
   font-size:.75em;
  }
/*For Responsive Design*/
/*For High Resolution phones and tablets*/
@media only screen and (max-width:1430px) {
/*Site Body*/
body {
margin-left: auto;
margin-right: auto;
overflow-x: hidden;
width: 89.9%;
height: auto;
}
/*Parallax Banner*/
#slider {
margin-left: auto;
margin-right: auto;
}
/*Hero Content*/
.hero {
margin-left: auto;
margin-right: auto;
background-attachment: scroll; /*Static Background*/
}
.hero-content {
width: 80%;
padding: 10px;
padding-top: 15vh;
}
/*For Tablets*/
@media only screen and (max-width:900px) {
/*Side nav Content*/
.side-nav {
background-color:white;
}
.side-nav menu a { /*Links*/
display: block; /*Stacked Display*/
padding: 10px;
margin-top: 15px;
margin-bottom: 15px;
}
.close-button { /*Close Buttonn*/
box-shadow: none;
padding: 0;
background-color: transparent;
}
/*Page content*/
body {
margin-left: auto;
margin-right: auto;
overflow-x: hidden;
width: 89.9%;
height: auto;
}
/*Parallax Slider*/
#slider {
margin-left: auto;
margin-right: auto;
}
/*Hero Content*/
.hero {
margin-left: auto;
margin-right: auto;
background-attachment: scroll; /*Static Background*/
text-align: center; /*Text alignment*/
}
.page-heading{
margin-bottom:250px;
}
.big-text {
font-size: 3.2em; /*Font Size*/
letter-spacing: normal;
text-align: left; /*Text Alignment*/
}
/*menus*/
.sticky-menu { /*Site now displays as one column; mobile menu is shown*/
display: none;
}
.mobilemenu {
display: grid;
align-content: center;
width: 90%;
margin-top: 20px;
}
.mobilemenu a { /*Links*/
text-align: center;
display: block;
text-decoration: none;
color: white;
background-color: blue;
font-family: Lato 'Lato Bold';/*Font Family*/
font-weight: bold;
margin-bottom: 5px;
line-height: 250%;
transition: .2s;
}
    .mobilemenu a img {
        padding-top: 10px;
    }
.mobilemenu a:hover { /*Links on Hover*/
background-color: black;
 color: white;
transition: .2s;
}
.mobilemenu h3{
    font-family:'Lato Bold';
    color:blue;
}
.content {
width: 95%;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
}
}
/*For Phones*/
@media only screen and (max-width:700px) {
/*Side Nav*/
.side-nav menu {
background-color: transparent;
box-shadow: none;
}
#sidenav { /*Side Navigation Trigger*/
position:fixed;
top:20px;
left: 20px;
background-color: white;
padding: 15px;
}
#sidenav:hover{ /*One Hover*/
transform:none;
color:lightgrey;
}
#header-static #sidenav{ /*Side Navigation trigger when Header is static*/
position:absolute;
left:0;
top:10px;
box-shadow:none;
}
/*Page Content*/
body { /*Page Body*/
margin-left: auto;
margin-right: auto;
overflow-x: hidden;
width: 90%;
height: auto;
}
.content {/*Page Contents*/
width:100%; /*Full width*/
margin-left:auto;
margin-right:auto;
box-shadow:none;/*No shadow effect*/
padding:9px;
}
.content p{ /*Text*/
font-size:1.35em; /*Font Size*/
}
/*Header and Nav*/
#header {
margin-left: 0;
margin-right: 0;
position: static; /*Stationary position*/
}
.progress-bar {
display: none; /*Do not display progress bar*/
}
/*Hero Content*/
/*Parallax slider*/
#slider {
margin-left: auto;
margin-right: auto;
max-height: 75vh;
background-attachment: scroll;
}
.hero {
margin-left: auto;
margin-right: auto;
max-height: 75vh; /*Maximum Height*/
background-attachment: scroll; /*Static Background*/
}
.hero h1 {
letter-spacing: unset; /*Normal letter spacing*/
font-size: 2.5em; /*Smaller font size*/
}
/*Page headings*/
.page-heading {
margin-bottom:0;
}
.page-heading h1 {
letter-spacing: normal; /*Character Spacing*/
}
.hero-content {
width: 80%;
padding: 10px;
text-align: center; /*Text Alignment*/
padding-top: 15vh;
}
.big-text {
font-size: 3em;
}
.sticky-menu {
display: none;
}
/*Mobile Menu*/
.mobilemenu {
display: grid;
align-content: center;
width: 90%;
margin-top: 20px;
}
.mobilemenu a {
text-align: center;
display: block;
text-decoration: none;
color: white;
background-color: blue;
font-family:'Lato Bold';
margin-bottom: 5px;
line-height: 250%;
transition: .2s;
}
.mobilemenu a:hover {
background-color: black;
color: white;
transition: .2s;
}
.content {
width: 90%;
margin: 0;
margin-left: auto;
margin-right: auto;
float: none;
font-size: .85em;
}
.top-bar {
 display: none; /*Do not display the Top Bar*/
}
/*Top Button*/
/*Back to top*/
.bottom-bar {
position: unset;
}
/*Footer Content*/
.copy{ /*copyright Text*/
font-size:.85em; /*Font size*/
}
}
}